@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/7dSh6BcuqDLzS2qAASIeuj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/lILlYDvubYemzYzN7GbLkIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
.top-menu {
  margin-left: 10%; /*Отступ слева*/
  margin-right: 10%; /*Отступ справа*/
  position: relative; /*Относительное позиционирование*/
  background: #fff; /*Фон*/
  box-shadow: inset 0 0 10px #ccc; /*Тени*/
}
.top-menu:before,
.top-menu:after {
  content: "";
  display: block; /*Блочный элемент*/
  height: 1px; /*Высота*/
  border-top: 3px solid #8fa09b; /* Линия сверху текста */
  border-bottom: 1px solid #8fa09b;  /* Линия снизу текста */
  margin-bottom: 2px;/* Отступ снизу */
}
.top-menu:after {
  border-bottom: 3px solid #8fa09b;  /* Линия снизу текста */
  border-top: 1px solid #8fa09b; /* Линия сверху текста */
  box-shadow: 0 2px 7px #ccc; /*Тени*/
  margin-top: 2px; /* Отступ сверху */
}
.menu-main {
  list-style: none; /*Отменяет маркеры для списка*/
  padding: 0 30px; /* Поля вокруг текста */
  margin: 0; /*Отступы со всех сторон*/
  font-size: 18px; /*Размер шрифта*/
  text-align: center; /*Выравнивание текста*/
  position: relative; /*Относительное позиционирование*/
}
.menu-main:before,
.menu-main:after {
  content: "\25C8"; /*Добавление спец сипвола*/
  line-height: 1; /*Межстрочный интервал*/
  position: absolute; /*Абсолютное позиционирование*/
  top: 50%; /* Положение от верхнего края */
  transform: translateY(-50%); /*Сдвигает элемент по вертикали на указанное значение.*/
}
.menu-main:before {left: 15px;} /* Положение от левого края */
.menu-main:after {right: 15px;}/* Положение от правого края */
.menu-main li {
  display: inline-block; /*блочный элемент, который обтекается другими элементами веб-страницы*/
  padding: 5px 0; /*Поля вокруг текста*/
}
.menu-main a {
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  display: inline-block; /*блочный элемент, который обтекается другими элементами веб-страницы*/
  margin: 2px 5px; /*Отступы со всех сторон*/
  padding: 6px 15px; /* Поля вокруг текста */
  font-family: 'PT Sans', sans-serif; /*Шрифт*/
  font-size: 16px; /*Размер шрифта*/
  color: #777777; /*Цвет шрифта*/
  border-bottom: 1px solid transparent; /* Параметры линии внизу */
  transition: .3s linear;  /*эффект перехода между двумя состояниями элемента*/
}
.menu-main .current, .menu-main a:hover {
  border-radius: 3px; /*радиус скругления уголков рамки*/
  background: #f3ece1; /*фон*/
  color: #313131; /*Цвет шрифта*/
  text-shadow: 0 1px 0 #fff; /*Тени шрифта*/
  border-color: #c6c6c6; /*Цвет рамки*/
}

@media (max-width: 500px) {
  .menu-main li {display: block;} /*блочный элемент*/
}
body {
    background-image: url(../images/46.png);/* Путь к фоновому рисунку */
    background-repeat: repeat; /* Повторяем фон */
   }
   
html,body {
        height: 100%; /*Высота*/
        margin: 0; /* Убираем отступы */
        padding: 0; /* Поля вокруг текста */

}
   #container {
	position: relative; /*Относительное позиционирование*/
    min-height: 100%; /*Минимальная высота*/
	overflow: hidden; /* Добавляем полосы прокрутки */


   }
   #header {
	background: url(../images/46.png);/* Путь к фоновому рисунку */
    background-repeat: repeat; /* Повторяем фон */
	min-height: 55px; /*Минимальная высота*/
	margin-left: 10%; /*Отступ слева*/
    margin-right: 10%; /*Отступ справа*/
    font-family: 'PT Sans', sans-serif; /*Шрифт*/
	font-size: 2.5em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
   }

  #content {
	
	background: #ffffff; /* Цвет фона шапки */
    padding-bottom: 20px; /* Значение должно равняться высоте нашего футера */
    margin-left: 10%; /*Отступ слева*/
    margin-right: 10%; /*Отступ справа*/
	border-right-color: #8fa09b; /* Цвет линии справа */
    border-right-style: double; /* Стиль линии */
    border-right-width: 10px; /* Толщина линии */
    border-left-color: #8fa09b; /* Цвет линии слева */
    border-left-style: double; /* Стиль линии */
    border-left-width: 10px; /* Толщина линии */
    padding: 10px 10px; /* Расстояние между линией и текстом */
	margin-bottom: 10px; /* Отступ снизу */

   } 
   
 
   .clear {
    clear: both;
   }
 #content_back {
    height: 100%; /* высота псевдоколонок */
    height: expression(document.body.offsetHeight); /* высота для IE6 */
    top: 0; /* нулево смещение от верха обертки */
	position: absolute;

    z-index: -1; /* отрицательное значение z-index */
   }
   #content_back {
    background: #ffffff; /* Цвет фона шапки */
    left: 10%; 
    right: 10%; 
	border-right-color: #8fa09b; /* Цвет линии справа */
    border-right-style: double; /* Стиль линии */
    border-right-width: 10px; /* Толщина линии */
    border-left-color: #8fa09b; /* Цвет линии слева */
    border-left-style: double; /* Стиль линии */
    border-left-width: 10px; /* Толщина линии */
   }
   #footer {
    width: 100%; /*ширина*/
    height: 20px; /*высота*/
    position: absolute; /*абсолютное позиционирование*/
    bottom: 0; /* Расстояние от нижнего края окна браузера */
    color: #fff; /*Цвет шрифта*/
    background: #8fa09b; /*Цвет фона*/
   text-align:center; /*Выранивание текста*/
   } 

   div {
  font-family: 'PT Sans', sans-serif;
   } 
 
 A {
    color: black; /* Цвет ссылок */
   }
   A:visited {
    color: black; /* Цвет посещенных ссылок */
   }
   A:active {
    color: black; /* Цвет активных ссылок */
   }

/*-----------------------------------------------------------------------------------*/
/*	Слайдер карусель
/*-----------------------------------------------------------------------------------*/

#wrapper .d-carousel ul li {
	background: none; /*фон*/
	background-color: #FFF; /*цвет фона*/
	-webkit-box-shadow: 0px 1px 2px 0px #b7b7b7; /*тени*/
	-moz-box-shadow: 0px 1px 2px 0px #b7b7b7;/*тени*/
	box-shadow: 0px 1px 2px 0px #b7b7b7; /*тени*/
	padding: 15px; /* Поля вокруг текста */
	width: 575px; /*ширина*/
}

.jcarousel-direction-rtl {
	direction: rtl; /*Задает направление справа налево*/
}

.d-carousel h4 {
	font-style: italic; /*нашлонный шрифт*/
    text-align: center; /*выранивание шрифта*/
	margin: 15px 0 5px 0;  /* Отступы вокруг элемента */
}

.d-carousel .jcarousel-container {
	display: block; /*блочный элемент*/
	overflow: hidden; /*Отображается только область внутри элемента, остальное будет скрыто*/
	margin-bottom: 20px; /*Отступ от нижнего края элемента*/
}

.d-carousel .jcarousel-item {
	width: 200px; /*ширина*/
	height: 300px; /*высота*/
}

.d-carousel .jcarousel-container-horizontal {
	max-width: 950px; /*макимальная ширина*/
	height: 325px; /*высота*/
	padding: 0 45px;  /* Поля вокруг текста */
}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 3px; /*отступ слева*/
	margin-bottom: 3px;  /*отступ снизу*/
	margin-top: 3px;  /*отступ сверху*/
	margin-right: 11px;  /*отступ справа*/
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute; /*абсолютное позиционирование*/
	top: 129px; /* Положение от верхнего края */
	right: 0; /* Положение от правого края */
	margin-right: 3px; /*отступ справа*/
	width: 15px; /*ширина*/
	height: 28px; /*высота*/
	cursor: pointer; /*форма курсора*/
	background: transparent url(../images/blog-arrows.jpg) no-repeat top right; /*Изображение прокрутки - стрелка*/
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; /* Положение от левого края */
	right: auto; /* Положение от правого края */
	background-image: url(../images/blog-arrows.jpg); /*Изображение прокрутки - стрелка*/
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-position: bottom right;  /* Положение изображения */
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute; /*абсолютное позиционирование*/
	top: 129px;  /* Положение от верхнего края */
	left: 0; /* Положение от левого края */
	margin-left: 3px; /*отступ слева*/
	width: 15px; /*ширина*/
	height: 28px; /*высота*/
	cursor: pointer; /*форма курсора*/
	background: transparent url(../images/blog-arrows.jpg) no-repeat top left; /*Изображение прокрутки - стрелка*/
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;  /* Положение от левого края */
	right: 5px;  /* Положение от правого края */
	background-image: url(../images/blog-arrows.jpg); /*Изображение прокрутки - стрелка*/
}

.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left; /* Положение изображения */
}



